.carrito{          
    padding-right: 10px;
    width: 40px;
    
    
}
text{
    color: black;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
.menu_carrito{
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}