.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: rgb(230, 20, 20);
    font-family: 'Russo One', sans-serif;    
}
.NavBar h3 {
    font-size: 25px;
}
.NavBar span {
    font-size: 18px;
    color: white;
}

.Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Option {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;    
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: #ffffff;
    border-radius: 4px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ActiveOption {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;    
    width: auto;
    padding: 12px;
    font-size: 15px;
    background:rgb(44, 34, 34);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

